html {
    scroll-behavior: smooth;
}

body {
    color: #1f1f1f;
    font-family: "Roboto", sans-serif;
}

.main {
    background-color: #fbfcfc;
    padding: 0px;
}

input {
    height: 3vh;
    font-size: 2vh;
    width: 5vw;
}

select, option {
    height: 3.5vh;
    width: 3vw;
    font-size: 2vh;
}

.optimization {
    width: 5vw;
}

.head {
    top: 0;
    position: sticky;
    background-color: #ffffff;
    border-bottom: solid #f3f3f3;
    /*padding: .5%;*/
    transition: .3s;
}

.functional-block {
    background-color: #ffffff;
    margin: auto 10% auto;
    padding: 1.5%;
    /*border: solid #f3f3f3;*/
    border-bottom: solid #f3f3f3;
    transition: .2s;
}

.buttons-block {
    padding-left: .5%;
    padding-right: .5%;
    /*display: inline-block;*/
}

.functional-button, .functional-button:active {
    border: none;
    border-radius: 0px;
}

.functional-button {
    width: 24%;
    padding: 1.5%;
    margin: 0px;
    font-size: 1.5vw;
    display: inline-block;
    transition: .3s;
}

#add-equation:hover, .highlight-optimum-enabled:hover, .remove-equation-enabled:hover {
    background-color: #d5d8dc;
}

.solve {
    background-color: #d5f5e3;
}

.solve:hover {
    background-color: #abebc6;
}

.objective-function {
    padding: .5%;
    padding-bottom: 2%;
    font-size: 2.5vh;
}

.equation-input {
    padding: .5%;
    font-size: 2.5vh;
    transition: .3s;
}

.pair-solved {
    transition: .3s;
    padding: 1.5%;
}

.results-header {
    padding: 1.5%;
}

.pair-solved:hover {
    background-color: #f3f3f3;
}

.results {
    transition: .3s;
    padding: 0px;
}

.highlighted {
    animation: fadeOut ease 4s;
    -webkit-animation: fadeOut ease 4s;
    -moz-animation: fadeOut ease 4s;
    -o-animation: fadeOut ease 4s;

}

@keyframes fadeOut {
    0% {background-color: #fadbd8;}
    100% {background-color: #ffffff;}
}

@-webkit-keyframes fadeOut {
    0% {background-color: #fadbd8;}
    100% {background-color: #ffffff;}
}

.back-to-top {
    display: none;
    background: transparent;
    opacity: 0.5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    z-index: 999;
    transition: .3s;
 }